@import '../variables.scss';

.sort {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;

  &__label {
    display: flex;
    gap: 8px;
    align-items: center;

    b {
      font-size: 20px;
      white-space: nowrap;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
      font-size: 20px;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    z-index: 10;
    // width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }

  &__order-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity $duration ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}
